/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf7ed; /* Soft greenery background */
    background-image: url('static/bg_farm.jpg'); /* Background image related to farming */
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

.container {
    width: 80%; /* Center the container */
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9); /* Transparent white container background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    
}

h1 {
    text-align: center;
    color: #2c5234; /* Dark greenery heading color */
    margin-bottom: 30px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.option {
    text-align: center;
}

.option img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.option img:hover {
    transform: scale(1.05);
}

.option p {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

/* Adjust background for the home section */
#home {
    background-color: transparent;
    padding: 0;
}
/* Style for the navigation bar */
.navbar {
    background-color: #2c5234; /* Dark greenery background */
    padding: 30px 0;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 40px;
}

.navbar ul li a {
    color: #fff; /* White text color */
    text-decoration: none;
    font-size: 16px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}
/* CSS to increase the size of input boxes */
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
}

/* CSS for the moisture percentage text */
.moisture-percentage {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}
/* CSS to change the color of labels to black */
label {
    color: #000;
    display: block;
    font-weight: bold;
}
/* CSS for the submit button */
input[type="submit"],button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    display: block;
    text-align: center;
}
/* CSS for the result image */
.crop-image-container img {
    max-width: 100%; /* Set maximum width to 100% of container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure image is displayed as block element */
    margin: 0 auto; /* Center the image horizontally */
    max-height: 200px; /* Set maximum height to desired value */
}
/* CSS for the result text paragraph */
.result {
    text-align: center; /* Align text to the center */
}
